# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [1]:
for i in range(10):
    print(i)
    
name = "Dharti Patel"
for letter in name:
    print(letter)

0
1
2
3
4
5
6
7
8
9
D
h
a
r
t
i

P
a
t
e
l

##### Using 'in' keyword

In [ ]:
for i in range(15):
    print(i**2)

##### Continue Statement

In [ ]:
for i in range(20):
    print(i)
    
#continue to the next iteration
for i in range(20):
    if i == 5 or i == 6:
        continue
    print(i)

##### Break Statement

In [ ]:
for i in range(10):
    print(i)

# will break out of current loop
print("\n")
for i in range(10):
    if i == 6:
        break
    print(i)

##### Pass Statement

In [ ]:
for i in range(20):
    pass #todo: come do things with this later

def my_func():
    pass
    

def my_func2():
    for i in range(10):
        print(i)
my_func2()

##### Double For Loops

In [3]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

In [ ]:
for i in range(5):
    for j in range(5):
        print(i + j)

### While Loops

In [ ]:
counter = 0

while counter < 11:
    counter += 1
    print(counter)
   

    
print("\n")

num = 0
while num < 15:
    print(num**2)
    num += 1

##### looping 'While True'

In [ ]:
game_over = False
while True:
    print("Infinite Loop")
    if game_over == False:
        break

In [ ]:
game = True


my_list = [1, 2, 3, 4, 5, 6]
index = 0
while game:   
    if my_list[index] == 4:
        game = False
    print(my_list[index])
    index += 1

##### While & For Loops Used Together

In [2]:
j = 0

while j < 10:
    print("\n While Loop Iteration: " + str(j))
    
    for i in range(2):
        print("For Loop Iteration: " + str(i))
        
    j += 1

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

##### The Range Function

In [11]:
for i in range(10): #stop
    print(i)
print("\n")
for i in range(1, 10): #start, stop
    print(i)
print("\n")
for i in range(1, 10, 3): #start, stop, step
    print(i)

0
1
2
3
4
5
6
7
8
9


1
2
3
4
5
6
7
8
9


1
4
7

### String Manipulation Exercise

In [2]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']

for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

In [5]:

names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
final_name = [];
i=0

for name in names:
    print(name.strip().title())
    final_name.append(name.strip().title())
print(final_name)

Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']

In [17]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']

Connor Max Evan Jordan None

## Lists

##### Declaring Lists

In [44]:
our_list = []
name = ["dharti", "jigar", "love"]
number = [1, 2, 3, 4]

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']

##### Indexing a List

In [14]:
name = ["dharti", "jigar", "love", "harshil", "Krishna", "Mansi"]

print(name[2])

print(name[1:])
print(name[:2])

print(name[1::2])
copy_list = name[1::2]
print(copy_list)

print(name[::-1])

love
['jigar', 'love', 'harshil', 'Krishna', 'Mansi']
['dharti', 'jigar']
['jigar', 'harshil', 'Mansi']
['jigar', 'harshil', 'Mansi']
['Mansi', 'Krishna', 'harshil', 'love', 'jigar', 'dharti']

### List Methods

##### .append()

In [6]:
name = ['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex']

name.append("Dharti")
print(name)

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex', 'Dharti']

In [9]:
name.append("Vrund")
print(name)
print(name[2::4])

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex', 'Dharti', 'Vrund', 'Vrund', 'Vrund']
['Austin', 'Dharti']

In [10]:
number = [1, 2, 3, 1, 5 , 5]
number.append(10)
number.append(15)

print(number)

[1, 2, 3, 1, 5, 5, 10, 15]

In [11]:
names = [' Ryan', '    Tenzin', 'Austin   ', 'Dylan', 'Mohammad', 'Alex']

title_list = []
for name in names:
    title_list.append(name.title().strip())
    
print(title_list)

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex']

##### .insert()

In [12]:
name = ['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex']

name.insert(3,'Dharti')
print(name)

['Ryan', 'Tenzin', 'Austin', 'Dharti', 'Dylan', 'Mohammad', 'Alex']

In [13]:
num = [1, 2, 3, 5, 5, 6, ]
num.insert(1,52)
print(num)

[1, 52, 2, 3, 5, 5, 6]

In [14]:

for i in range(len(num)):
    if i == 3:
        num.insert(i,name[i])
        
print(num)

[1, 52, 2, 'Dharti', 3, 5, 5, 6]

##### .pop()

In [15]:
name = ['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex']

bye_name = name.pop(1)
print(bye_name)

Tenzin

In [16]:
print(name.pop())

Alex

##### .remove()

In [18]:
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']


print(names)

['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

In [19]:
names.remove('Bob')
print(names)

['Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

In [22]:
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bob', 'Bertha', 'Bob', 'Bert']
for name in names:
    if name == 'Bob':
        names.remove('Bob')

print(names)

['Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

In [28]:
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bob', 'Bertha', 'Bob', 'Bert']


while 'Bob' in names:
    names.remove('Bob')
    
print(names)


# for i in names:
#     if name[i] == 'Bob':
#         names.remove(name[i])

# print(names)

['Billy', 'Berry', 'Bertha', 'Bert']

### Working With Lists

##### del()

In [29]:
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bob', 'Bertha', 'Bob', 'Bert']

del(names[2])
print(names)

['Bob', 'Bob', 'Berry', 'Bob', 'Bertha', 'Bob', 'Bert']

##### min()

In [35]:
numbers = [1, 2, 5, 8, 6, 8, 4 , 15, 85]
print(min(numbers))


names = ['dharti', 'Jya', 'Vrund', 'Jigar']
print(min(names))

1
Jigar

##### max()

In [34]:
numbers = [1, 2, 5, 8, 6, 8, 4 , 15, 85]
print(max(numbers))

names = ['dharti', 'Jya', 'Vrund', 'Jigar']
print(max(names))

85
dharti

##### sum()

In [32]:
numbers = [1, 2, 5, 8, 6, 8, 4 , 15, 85]
print(sum(numbers))

134

##### sorted()

In [33]:
numbers = [1, 2, 5, 8, 6, 8, 4 , 15, 85]
print(numbers)
print(sorted(numbers))

[1, 2, 5, 8, 6, 8, 4, 15, 85]
[1, 2, 4, 5, 6, 8, 8, 15, 85]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [38]:
numbers = [1, 2, 5, 8, 6, 8, 4 , 15, 85]
print(numbers)
numbers.sort()
print(numbers)

[1, 2, 5, 8, 6, 8, 4, 15, 85]
[1, 2, 4, 5, 6, 8, 8, 15, 85]

##### Copying a List

In [40]:
numbers = [3, 6, 1, 5, 10, -12]
new_list = numbers[:]
print(new_list)

[3, 6, 1, 5, 10, -12]

##### Looping Through Lists

In [44]:
names = ["Han Solo", "Leia Organa", "Luke Skywalker","Lando Calrissian", "Mace Windu"]

for name in names:
    print(name)
print("\n")

for name in names:
    if name == "Han Solo":
        print(name)
print("\n")
        
for i in range(len(names)):
    print(names[i])
print("\n")

for i in range(len(names)):
    if names[i] == "Luke Skywalker":
        print(names[i])
        
print("\n")

for i, v in enumerate(names):
    print(i, v)
    
print("\n")

for i, v in enumerate(names):
    if v == "Mace Windu":
        print(i)

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Han Solo


Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Luke Skywalker


0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu


4

##### 'in' keyword

In [45]:
names = ["Dharti", "Ryan", "Jigar", "Ethan"]

if "Ethan" in names:
    print("Ranger")
else:
    print("Not a Ranger")

Ranger

nope
nope
Tenzin
nope
nope
nope

IndentationError: expected an indented block (2703666223.py, line 3)

##### 'not in' keyword

In [46]:
names = ["Dharti", "Ryan", "Jigar", "Ethan"]

if "Vrund" not in names:
    print("Not in a Ranger")
else:
    print("Good Job Rangers")

Not in a Ranger

##### Checking an Empty List

In [48]:
our_list = []

if our_list == []:
    print("Oops the list is empty")
else:
    print("It has something")

Oops the list is empty

##### Removing Instances with a Loop

In [49]:
names = ['Alex', 'Tenzin', 'Austin', 'Jeong', 'Nate']

while "Alex" in names:
    names.remove("Alex")

print(names)

['Tenzin', 'Austin', 'Jeong', 'Nate']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [52]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: you might need an append
# Hint 2: you might need an empty list
# Hint 3: are you actually removing......
my_dup = []
i = 0

while i < len(names):
    if names[i] not in my_dup:
        my_dup.append(names[i])
        i += 1
    else: 
        names.remove(names[i])
print(names)

['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [56]:
nums = [2, 4 , 6, 8, 10, 3, 5, 9]

num_squared = []

for num in nums:
    num_squared.append(num**2)
    
print(num_squared)

num_square = [x**2 for x in nums]
print(num_square)


more_squared = [num**2 for num in nums if num % 2 == 0]
print(more_squared)

[4, 16, 36, 64, 100, 9, 25, 81]
[4, 16, 36, 64, 100, 9, 25, 81]
[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [61]:
pets = ['elliot', 'eyo', 'henri', 'lucy', 'eyeball', 'astro', 'pi', 'penny']

letters_names = [name[0] for name in pets if name[0] != 'e']

print(letters_names)

['h', 'l', 'a', 'p', 'p']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [65]:
tup_1 = {1, 2, 3}
tup_2 = 4, 5, 6

print(tup_1)
print(tup_2)

print(type(tup_1))


print(tup_2[0])
print(tup_2[1])

print("Tuple length",len(tup_2))

for num in tup_1:
    print(num)

for i in range(len(tup_2)):
    print(tup_2[i])

{1, 2, 3}
(4, 5, 6)
<class 'set'>
4
5
Tuple length 3
1
2
3
4
5
6

##### sorted()

In [67]:
tup = (20, 5, 1, 10, 95, 123)

print(sorted(tup))

print(tuple(sorted(tup)))

some_list = [5, 12, 654, 234, 7643, 34]

# combine_list = some_list + tup

new_tup = tuple(some_list)
print(new_tup)

new_new_tup = new_tup + tup
print(new_new_tup)

[1, 5, 10, 20, 95, 123]
(1, 5, 10, 20, 95, 123)
(5, 12, 654, 234, 7643, 34)
(5, 12, 654, 234, 7643, 34, 20, 5, 1, 10, 95, 123)

In [149]:
# List Concatenation

my_list = [1, 2, 3, 4, 5]
my_list2 = [2, 3, 4, 5, 13, 12, 16, 1234]

my_list3 = my_list + my_list2

print(my_list3)

[1, 2, 3, 4, 5, 2, 3, 4, 5, 13, 12, 16, 1234]

##### Adding values to a Tuple

In [148]:


print(tup)

tup = tup + (6,)
print(tup)

(20, 5, 1, 10, 95, 123, 5, 5, 5)
(20, 5, 1, 10, 95, 123, 5, 5, 5, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [75]:
alist = [1,11,14,5,8,9]
new_num = []

new_num = [num for num in alist if num < 10]

print(new_num)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [80]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]


l_3 = l_1 + l_2
l_3.sort()
print(l_3)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [83]:
new_square = [num**2 for num in range(1,16)]
print(new_square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [150]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']


letters_names = [name.title().strip() for name in names_list if name.strip().startswith('A') or name.strip().startswith('a')]

print(letters_names)

['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>

In [153]:
prime = [x for x in range(2, 100) if all(x % y != 0 for y in range(2, x))]
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]